.hide {
  width: 0; height: 0;
  font-size: 0; line-height: 0;
  position: absolute;
  visibility: hidden;
}

body {
  background-color: #000;
  font: 18px '나눔고딕', sans-serif;
  color: #FFF;
}

/* header */
header {
  background-color: #000;
  padding: 50px;
  overflow: hidden;
}
header>div#header-wrap {
  margin: 0 auto;
}
header h1 {
  float: left;
}
header img {
  width: 250px;
}
header nav {
  float: right;
  padding-top: 200px;
  position: relative;
}

/* nav #gnb */
#gnb>li {
  display: inline-block;
  width: 170px;
  text-align: center;
  border-left: 1px solid #FFF;
}
#gnb>li:first-child {
  border-left: none;
}
#gnb>li>a {
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
}
#gnb>li>a:hover {
  font-weight: bolder;
}

/* nav #lang */
#lang {
  position: absolute;
  right: 0;
  top: 0;
}
#lang>li {
  display: inline-block;
  width: 70px;
  text-align: center;
}
#lang>li:first-child {
  border-right: 1px solid #FFF;
}
#lang>li>a {
  font-size: 25px;
  line-height: 30px;
  color: #FFF;
}
#lang>li>a:hover {
  font-weight: bolder;
}

/* article */
article {
  padding-bottom: 25px;
}

/* box01 */
#box01 {
  text-align: center;
}
#box01>img {
  height: 750px;
}

/* box02 */
#box02 {
  width: 940px;
  padding-left: 290px;
}
#box02>h3 {
  margin: 0 0 25px 20px;
  font-size: 90px;
  font-weight: bolder;
}
#box02>p, dl {
  margin: 0 0 25px 30px;
  border-left: 5px solid #ff4d00;
  padding-left: 20px;
  font-size: 15px;
}
#box02>dl>dt {
  display: inline-block;
  margin-right: 5px;
}
#box02>dl>dd {
  display: inline-block;
  margin-right: 20px;
}
#box02>dl>dd>span {
  margin-right: 10px;
  padding: 0 5px;
}
#box02>dl>dd>span:first-child {
  background-color: #288BA0;
}
#box02>dl>dd>span:nth-child(2){
  background-color: #00008B;
}
#box02>dl>dd>span:nth-child(3){
  background-color: #B5008C;
}

/* box03 */
#box03 {
  display: flex;
  justify-content: space-between;
  color: #000;
}
#box03>section {
  display: inline-block;
  background-color: #E9E9E9;
  padding-bottom: 15px;
}
#box03>section>div {
  width: 200px;
  margin: 30px auto 15px auto;
  border: 2px solid #D1D1D1;
  padding: 10px 0;
  text-align: center;
}
#box03>section>div>h4 {
  font-size: 25px;
  font-weight: bolder;
}
#box03>section>div>p {
  font-size: 15px;
}
#box03>section>button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #C6C6C6;
}
#box03>section>button:hover {
  background-color: #909090;
}

